.section-title {
  text-transform: uppercase;
  letter-spacing: 0%;
  line-height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 51px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 34px;
  justify-self: start;
  letter-spacing: 0.07em;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address__text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  font-style: normal;
  line-height: 24.3px;
}

.header__link_active {
  text-decoration: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 757px;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  height: 100%;
  min-height: inherit;
}

.cover__title {
  text-transform: uppercase;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  color: white;
  line-height: 114%;
  padding: 165px 50px 114px 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  margin-bottom: 20px;
}

.aligned-text_center {
  margin-bottom: 20px;
  margin-right: -0.3em;
  text-align: center;
}

.aligned-text_right {
  margin-right: -0.3em;
  text-align: end;
}

.cover__description {
  display: flex;
  margin: 0px 50px 0px 50px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.85em;
  color: white;
}

.bet-button {
  background-color: transparent;
  border: 1px solid currentColor;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
  text-transform: uppercase;
  color: white;
  padding: 12px 32px 10px 31px;
}

.lots {
  margin: 182px 24px 0px 25px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-left: 41px;
  margin-bottom: 33px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  background-position: center top;
  background-size: cover;
}

.card {
  height: 100%;
  background-position: center top;
  background-size: cover;
  padding: 48px 39px 48px 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

.lots__look-more-link {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 40px;
  margin-top: 30px;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.about {
  padding: 157px 28px 180px 24px;
  display: grid;
  grid-template-columns: 335px 1fr 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
}

.about__text-container {
  grid-column: span 2;
}

.about__title {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 106px;
  margin-top: 104px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: start;
  justify-items: start;
  padding: 0px 50px 82px 50px;
}

.footer__address {
  justify-self: start;
  min-width: 264px;
}

.footer__menu {
  padding-top: 4px;
}

.footer__menu-list {
  list-style: none;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__link {
  display: block;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-underline-offset: 5px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
