.section-title {
  text-transform: uppercase;
  letter-spacing: 0%;
  line-height: 100%;
}

.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  /* justify-items: center; */
  padding: 90px 50px 94px 50px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 34px;
  justify-self: start;
}

header__links-list-item_no-bullit {
  list-style-type: none;
  
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  height: 98px;
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-style: normal;
  text-decoration: underline;

}

.header__link_active {
  text-decoration: none;
}



.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 757px;

  
}

.overlay {
  background-color: rgb(0 0 0 / 0.5);
  height: 100%;
}

.cover__title {
  text-transform: uppercase;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;;
  letter-spacing: 0.3em;
  color: white;
  line-height: 114%;
  padding: 165px 50px 207px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.aligned-text {
  flex: 1;
  display:  flex;
}

.aligned-text_left {
  text-align: left;
  justify-content: start;

}

.aligned-text_center {
  justify-content: center;
  text-align: end;
}

.aligned-text_right {
  justify-content: flex-end;
  text-align: end;

}

.description {

}

.lots {
  height: 723px;
  margin: 180px 24px 0px 24px;
  background-color: rgb(127, 255, 244);
  /* display: flex;
  flex-direction: column; */

}

.card {
  height: 596px;
  width: 334px;
  margin-top: 74px;
  background-position: center top;
  background-size: cover;
  /* display: inline; */
}

.frame-one {
  background-image: url(../images/card-lot-01.jpg);

}

.frame-two {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center top;
  background-size: cover;
}

.frame-three {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center top;
  background-size: cover;
}

.about {
  height: 595px;

}



