.section-title {
  text-transform: uppercase;
  letter-spacing: 0%;
  line-height: 100%;
}

.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  /* justify-items: center; */
  padding: 90px 50px 94px 50px;
}

.menu {
  display: flex;
  list-style: circle;
  gap: 34px;
  justify-self: start;
}

.menu li:first-child {
  list-style-type: none;
  
}

.logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  height: 98px;
  justify-self: end;
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-style: normal;

}

.text-underline {
  text-decoration: underline;
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  

}

.description {

}

.lots {
  height: 723px;
  margin: 180px 24px 0px 24px;
  background-color: rgb(127, 255, 244);
  /* display: flex;
  flex-direction: column; */

}

.card {
  height: 596px;
  width: 334px;
  margin-top: 74px;
  background-position: center top;
  background-size: cover;
  /* display: inline; */
}

.frame-one {
  background-image: url(../images/card-lot-01.jpg);

}

.frame-two {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center top;
  background-size: cover;
}

.frame-three {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center top;
  background-size: cover;
}

.about {
  height: 595px;

}



